body {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  font-family: Avenir;
  background-color: DarkSlateGray;
}

#console {
  grid-row: 1;
  grid-column: 1 / span 1;
  background-color: red;
  height: 100vh;
  box-shadow:  0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

#user_info {
  height: 20%;
  background-color: whitesmoke;
  padding: 20px;
  text-align: center;
  box-shadow:  0 6px 10px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
}

#profile_image {
  height: 100px;
}

textarea {
  resize: none;
  width: 98%;
  height: 98%;
}

#post {
  height: 20%;
  background-color: lightslategray;
  margin: 10px;
  height: 150px;
  padding: 5px;
}

#submit_btn {
  display: block;
}

#feed {
  grid-row: 1;
  grid-column: 2 / span 1;
  background-color: whitesmoke;
  height: 100vh;
  gap: 20px -10px;
  overflow-y: auto;
}

#about {
  grid-row: 1;
  grid-column: 3 / span 1;
  background-color: blue;
  height: 100vh;
  box-shadow:  0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

#target_info {
  height: 30%;
  background-color: teal;
  box-shadow:  0 6px 10px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  padding: 20px;
}

 .textpost {
     background-color: lightgreen;
     height: 90px;
     margin: 10px;
     box-shadow:  0 6px 10px 0 rgba(0, 0, 0, 0.19);
     padding: 20px;
     border-radius: 30px;
 }

 /* .textpost:hover {
     height: 130px;
 } */
