body, html {
  height: 100%;
  margin: 0;
}

h2 {
  text-align: center;
}

#title, #login_link {
  font-family: "Futura";
  margin: 0;
  text-align: center;
  position: relative;
  text-shadow: 2px 2px 4px #202020;
}

#title {
  padding-top: 300px;
  font-size: 150px;
  color: white;
  filter: blur(-2px);
}

#login_link {
  padding-bottom: 300px;
  font-size: 40px;
  filter: blur(-2px);
  font-weight: lighter;
  color: white;
  text-decoration: none;
}

#login_link:hover {
    color: lightblue;
}

#background_image {
  background-image: url("../media/208112.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* NEW USER SECTION  */
 #welcome {
  font-family: avenir;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 50px;
  position: relative;
  margin: 0;

}

form {
  padding-left: 20px;
}
.input_text {
   width: 300px;
   height: 15px;
   padding: 20px;
   font-size: 24px;
   border-radius: 5px;
   margin: 5px;
}

#submit_button {
  display: inline-block;
  border-radius: 4px;
  background-color: lightblue;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 15px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#submit_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#submit_button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#submit_button:hover span {
  padding-right: 25px;
}

#submit_button:hover span:after {
  opacity: 1;
  right: 0;
}
#new_user_image {
  background-image: url("../media/welcome_lion1.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
