<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static_folder/styles/feed.css">
    <title>LionHouse</title>
  </head>
  <body>
     <section id="header"></section>
    <!--CONSOLE SECTION -->
    <section id="console">
      <div id="user_info">
        <h2 class="user_info_content" id="user_name">Name: {{ user_name }}</h2>
        <h2 class="user_info_content" id="username">Username: {{ username }}</h2>
        <p class="user_info_content">Number of Posts: {{ post_count }} </p>
        <a class="user_info_content" href="{{sign_out}}">Sign out</a>
      </div>
      <div id="post">
        <form method="post">
          <h2 class="user_info_content"> Post </h2>
          <textarea name="user_post" rows="5" cols="30" value=""></textarea>
          <input id="submit_post_btn" type="submit" value="Submit">
        </form>
      </div>
    </section>
    <!--FEED SECTION-->
    <section id="feed">
      {% for post in posts %}
          <div class="textpost">
            <h1>{{ post.author }}</h1>
            <p>{{ post.content }}</p>
            <span>{{ post.time }}</span>
          </div>
      {% endfor %}
    </section>
    <!--ABOUT SECTION-->
    <section id="about">
        <div id="about_content">
            <h1>LionHouse</h1>
            <p>Number of users: {{ user_count }}!!!</p>
        </div>
        {% for user in users %}
            <div class="textpost">
              <h1>{{ user.username }}</h1>
              <p>{{ user.name }}</p>
              <span>{{ user.email }}</span>
            </div>
        {% endfor %}
    </section>
  </body>
</html>
