<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static_folder/styles/feed.css">
    <title>LionHouse</title>
  </head>
  <body>
    <!--CONSOLE SECTION -->
    <section id="console">
      <div id="user_info">Ian Lizarda</div>
      <div id="post">
        <form>
         <textarea name="name" rows="8" cols="70">Post here!</textarea>
          <input id="submit_btn" type="submit" value="Submit">
        </form>
      </div>
    </section>
    <!--FEED SECTION-->
    <section id="feed">
        <div class="textpost">hello</div>
        <div class="textpost">my</div>
        <div class="textpost">name</div>
        <div class="textpost">is</div>
        <div class="textpost">emily</div>
    </section>
    <!--ABOUT SECTION-->
    <section id="about">
      <div id="target_info">Info !!!!</div>
    </section>
  </body>
</html>
