<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static_folder/styles/feed.css">
    <title>LionHouse</title>
  </head>
  <body>
    <!--CONSOLE SECTION -->
    <section id="console">
      <div id="user_info">
        <img id="profile_image" src="static_folder/{{ profile_image }}" alt="user profile image">
        <h1 id="username">{{ username }}</h1>
      </div>
      <div id="post">
        <form method="post">
          <h2> Post </h2>
          <textarea name="user_post" rows=5 cols=30 value=""></textarea>
          <input id="submit_btn" type="submit" value="Submit">
        </form>
      </div>
    </section>
    <!--FEED SECTION-->
    <section id="feed">
      <div id="feed_column">
        <div class="textpost">
            In time you will know what it's like to lose...
            In time you will know what it's like to lose...
            In time you will know what it's like to lose...
            In time you will know what it's like to lose...
        </div>
        <div class="textpost">
          to feel so desperately that you're right...
        </div>
        <div class="textpost">
          yet to fail, nonetheless.
        </div>
        <div class="textpost">
          Dread it. Run from it. Destiny still arrives all the same.
        </div>
        <div class="textpost">
          Or should I say, I am.
        </div>
      </div>
    </section>
    <!--ABOUT SECTION-->
    <section id="about">
      <div id="target_info">Info !!!!</div>
    </section>
  </body>
</html>
